@import "Nebula/Nebula.css";



.titlebar-buttonbox-container {
    transform: translate(2px, -2px) !important;
}

#navigator-toolbox {
    padding: 3px 13px !important;
}

.zen-toast {
    background: linear-gradient(135deg, rgba(3, 129, 255, 0.5), rgba(0, 222, 247, 0.5)) !important;
    backdrop-filter: blur(20px) saturate(2) !important;
    border-radius: 20px !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    box-shadow: 0 4px 24px rgba(0, 140, 255, 0.4) !important;
    color: #ccf4ffc8 !important;
}

/* #back-button {
    display: none !important;
} */

#forward-button {
    display: none !important;
}

#urlbar-zoom-button {
    display: none;
}

#zen-copy-url-button {
    display: none;
}

.zen-current-workspace-indicator-name {
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 100% !important;
    text-align: center !important;
}

.urlbarView-favicon {
    border-radius: 25px !important;
}

.zen-workspace-close-unpinned-tabs-button {
    opacity: 0.7 !important;
    visibility: visible !important;
    display: flex !important;

}

#tabs-newtab-button .toolbarbutton-text {
    display: none !important;
}

.tab-close-button {
    display: none !important;
}

#tabs-newtab-button {
    border-radius: 25px !important;
    border: solid 2px rgba(255, 255, 255, 0.25);
}

#tabbrowser-tabs .tab-background {
    border-radius: 25px !important;
}

.tab-icon-image[pinned="true"] {
    height: 18px !important;
    width: 18px !important;
}

/* Smooth fade-in and blur animation for tab favicons */
.tab-icon-image {
    transition: opacity 0.4s ease-in-out, filter 0.4s ease-in-out !important;
}

/* Hide favicon during loading/placeholder state */
.tab-icon-image[fadein="true"]:not([src]),
.tab-icon-image:not([src]) {
    opacity: 0 !important;
    filter: blur(8px) !important;
}

/* Fade in when loaded */
.tab-icon-image[fadein="true"][src],
.tab-icon-image[src] {
    opacity: 1 !important;
    filter: blur(0) !important;
}

/* Tab hover animation - smooth scale effect */
.tabbrowser-tab:not([pinned]) {
    transition: transform 0.2s ease !important;
}

.tabbrowser-tab:not([pinned]):hover {
    transform: scale(1.05) !important;
}

.urlbarView-title .urlbarView-overflowable {
    opacity: 1 !important;
    color: white;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.urlbarView-url {
    font-family: 'JetBrainsMono Nerd Font';
    opacity: 0.5;
}












/** ====================== EXTENSION CODE ====================== **/


/**                   NoHighlightSplit                   */

#tabbrowser-tabpanels[zen-split-view="true"] .browserSidebarContainer.deck-selected {
    outline: var(--zen-colors-border) !important;
}


/**                   Disable Status Bar                   */
#statuspanel {
    display: none !important;
}

/**                   Cleaned URL bar                   */

/* Move URL bar up */
#urlbar {
    --zen-urlbar-top: 200px !important;
}

/* Blurs the background */
#urlbar[breakout-extend="true"] .urlbar-background {
    /* border: solid 1px color-mix(in hsl, hsl(0 0 50), transparent 90%) !important; */
    border-radius: 28px !important;
    background-color: color-mix(in hsl, hsl(0 0% 10%), transparent 30%) !important;
    backdrop-filter: blur(10px) saturate(4) !important;
}

/* Increase URL bar dropdown to show 8 results */
.urlbarView {
    max-height: none !important;
}

.urlbarView-body-outer {
    max-height: 500px !important;
}

#urlbar-results {
    max-height: 500px !important;
}

/* Custom URL result selected color */
.urlbarView-row {
    &[selected] {
        background-color: rgba(1, 73, 151, 0.85) !important;
        /* Dark blueish background */
        color: #ffffff !important;
    }

    /* Hover styling with darker blue */
    &:hover:not([selected]) {
        background-color: rgba(34, 91, 175, 0.26) !important;
        color: #ffffff !important;
    }
}

/* Unifies the border radius */
.urlbarView-row {
    border-radius: 25px !important;
    overflow: hidden !important;
    padding: 0 !important;
    margin: 2px 4px !important;
}

.urlbarView-row-inner {
    overflow: hidden !important;
    border-radius: 25px !important;
    padding: 8px 10px !important;
}

.urlbarView-title,
.urlbarView-url,
.urlbarView-title-text {
    overflow: hidden !important;
}

/* Deletes the border */
.urlbarView-body-inner {
    border: none !important;
}

/* Styles the search options */
.search-one-offs {
    border-top: none !important;
    border-radius: 10px !important;
    padding: 4px !important;
    margin: 0px 0px 7px 0px !important;
    backdrop-filter: brightness(130%);
}

.searchbar-engine-one-off-item {
    border-radius: 8px !important;
    margin-right: 3px !important;
}

#urlbar-anon-search-settings {
    margin-right: 0px !important;
}


/**                   Load Bar                   */
/*
@media (-moz-bool-pref: "zen.view.use-single-toolbar") {
    .browserSidebarContainer.deck-selected::before {
        content: "" !important;
        position: absolute !important;
        top: 0px !important;
        left: 0px !important;
        height: 3px !important;
        max-width: 100% !important;
        width: var(--bar-pcent) !important;
        background-color: #00a1fe !important;
        border-radius: 0 2px 2px 0;
        z-index: 1 !important;
        transition: width 0.5s ease-in-out, background 0.2s ease !important;

    } 

    .browserSidebarContainer.deck-selected:has([zen-glance-selected])::before,
    .browserSidebarContainer.deck-selected.zen-glance-overlay::before {
        max-width: calc(85%) !important;
        left: calc(15%/2) !important;
        border-radius: 6px !important;
    }

    .browserSidebarContainer.deck-selected.zen-glance-background::before {
        background: transparent !important;
        height: 0px !important;
    }

    :root {
        &:has(.tabbrowser-tab[selected][busy]) {
            --bar-colour: var(--zen-primary-color);
            --bar-pcent: 15%;
        }

        &:has(.tabbrowser-tab[selected][busy][pendingicon]) {
            --bar-colour: var(--zen-primary-color);
            --bar-pcent: 45%;
        }

        &:has(.tabbrowser-tab[selected][busy][pendingicon][progress]) {
            --bar-colour: var(--zen-primary-color);
            --bar-pcent: 85%;
        }

        &:has(.tabbrowser-tab[selected][busy][progress]) {
            --bar-colour: var(--zen-primary-color);
            --bar-pcent: 95%;
        }

        &:has(.tabbrowser-tab[selected][muted]:not([busy])) {
            --bar-colour: orangered;
            --bar-pcent: 100%;

            .browserSidebarContainer.deck-selected::before {
                border-radius: 0;
            }
        }
    }
} 
*/

/**                   Bleeding Corners Fix                   */
html:not([sizemode="fullscreen"]) {

    .browserStack,
    browser {
        clip-path: inset(0 round var(--zen-native-inner-radius));
    }
}


/**                   Sound Bar                   */

:root {
    --bmb-sound-icon-scale: 1.3;
    --bmb-sound-icon-scale-essentials: 1.1;
    --bmb-sound-icon-scale-glance: 1.15;
}

/* ================== General ================== */
/* Hide firefox sound button */
.tab-audio-button {
    display: none !important;
}

/* Tab icon overlay styles */
.tab-icon-overlay {
    border: none !important;
    transform: translate(130%, 44%) scale(var(--bmb-sound-icon-scale)) !important;
    background: none !important;
    box-shadow: none !important;
    transition: 0.2s;

    &:is([soundplaying], [muted], [activemedia-blocked]) {
        display: block !important;
    }
}

/* Ensure sound icon is still visible when tab not selected */
#navigator-toolbox:not([zen-sidebar-expanded]) #tabbrowser-tabs .tab-icon-overlay:is([soundplaying], [muted], [activemedia-blocked]):not([selected]) {
    display: block !important;
}

/* Fill sound button on hover; ensure icon is displayed */
#navigator-toolbox #tabbrowser-tabs .tabbrowser-tab {

    & .tab-throbber,
    & .tab-icon-pending,
    & .tab-icon-image,
    & .tab-sharing-icon-overlay,
    & .tab-icon-overlay {
        &:is([soundplaying], [muted]) {
            &:hover {
                fill: rgba(255, 255, 255, 0.6) !important;
                transition: 0.2s;
                display: block !important;
            }
        }
    }
}

/* ================== Zen essentials (expanded tabs) ================== */
#navigator-toolbox[zen-sidebar-expanded] {
    .tabbrowser-tab[zen-essential] {

        /* Hide tab icon image for collapsed tabs and essentials */
        &:is([soundplaying], [muted], [activemedia-blocked]) .tab-icon-image {
            display: none !important;
        }

        & .tab-throbber,
        & .tab-icon-pending,
        & .tab-icon-image,
        & .tab-sharing-icon-overlay,
        & .tab-icon-overlay,
        & .tab-icon-stack {
            &:is([soundplaying], [muted], [activemedia-blocked]) {
                transform: translate(20%, 25%) scale(var(--bmb-sound-icon-scale-essentials)) !important;
                display: block !important;
                /* Remove extra margin created for vanilla icons */
                margin-inline-end: -2em !important;
                margin-inline-start: -2em !important;
            }
        }
    }
}

/* ================== Zen glance tab (expanded tabs) ================== */
#navigator-toolbox[zen-sidebar-expanded] {
    .tabbrowser-tab[zen-glance-tab] {

        /* Hide tab icon image */
        &:is([soundplaying], [muted], [activemedia-blocked]) .tab-icon-image {
            display: none !important;
        }

        & .tab-throbber,
        & .tab-icon-pending,
        & .tab-icon-image,
        & .tab-sharing-icon-overlay,
        & .tab-icon-overlay,
        & .tab-icon-stack {
            &:is([soundplaying], [muted], [activemedia-blocked]) {
                transform: translate(-8%, 25%) scale(var(--bmb-sound-icon-scale-glance)) !important;
                display: block !important;
                margin: 0px !important;
            }
        }
    }
}

/* ================== Zen glance tab (pinned tabs) ================== */
#navigator-toolbox[zen-sidebar-expanded] #tabbrowser-tabs .tabbrowser-tab[zen-glance-tab] {

    & .tab-throbber,
    & .tab-icon-pending,
    & .tab-icon-image,
    & .tab-sharing-icon-overlay,
    & .tab-icon-overlay {
        &:is([soundplaying], [muted], [activemedia-blocked]) {
            margin: 0px !important;
            transform: translate(-35%, 25%) scale(var(--bmb-sound-icon-scale-glance)) !important;
            display: block !important;
        }
    }
}

/* ================== Pinned tab (tab page changed) ================== */
#navigator-toolbox[zen-sidebar-expanded] {
    .tabbrowser-tab[zen-pinned-changed] {

        /* Add extra space for sound button when reset tab button is active */
        &:is([soundplaying], [muted], [activemedia-blocked]) {
            .tab-reset-pin-button {
                margin-right: 2.8em !important;
            }
        }

        & .tab-throbber,
        & .tab-icon-pending,
        & .tab-icon-image,
        & .tab-sharing-icon-overlay,
        & .tab-icon-overlay {
            &:is([soundplaying], [muted], [activemedia-blocked]) {
                transform: translate(180%, 45%) scale(var(--bmb-sound-icon-scale)) !important;
            }
        }
    }
}

/* ================== Expanded tabs ================== */
#navigator-toolbox[zen-sidebar-expanded] #tabbrowser-tabs .tabbrowser-tab {

    & .tab-throbber,
    & .tab-icon-pending,
    & .tab-icon-image,
    & .tab-sharing-icon-overlay,
    & .tab-icon-overlay {
        &:is([soundplaying], [muted], [activemedia-blocked]) {
            margin-right: 36px !important;
            margin-left: 0px !important;
        }
    }
}

/* ================== Split view (expanded tabs) ================== */
#navigator-toolbox[zen-sidebar-expanded] #tabbrowser-tabs .tabbrowser-tab[split-view] {

    /* Sound icon takes place of tab icon if tab is not pinned */
    &:is([soundplaying], [muted], [activemedia-blocked]):not([pinned]) .tab-icon-image {
        display: none !important;
    }

    & .tab-throbber,
    & .tab-icon-pending,
    & .tab-icon-image,
    & .tab-sharing-icon-overlay,
    & .tab-icon-overlay {

        /* Replace tab icon image with sound button; not needed if tab is pinned or essential */
        &:is([soundplaying], [muted], [activemedia-blocked]):not([zen-essential],
            [pinned]) {
            transform: translate(-40%, 46%) scale(var(--bmb-sound-icon-scale)) !important;
            margin-right: 12px !important;
            margin-left: 4px !important;
        }

        &:not([pinned]) {
            margin-left: 0px !important;
        }
    }
}

/* ================== Collapsed tabs ================== */
#navigator-toolbox:not([zen-sidebar-expanded]) {
    .tab-icon-overlay {
        transform: translate(-40%, 46%) scale(var(--bmb-sound-icon-scale)) !important;

        /* Prevent sound/media button from being toggled on click when collapsed tab out of focus */
        &:is([soundplaying], [muted], [activemedia-blocked]):not([selected]) {
            pointer-events: none !important;
        }
    }

    .tabbrowser-tab:is([soundplaying], [muted], [activemedia-blocked]) .tab-icon-image {
        display: none !important;
    }
}



/**                   Better Find Bar                   */

.findbar-textbox {
    border-radius: 10px !important;
}

findbar {
    display: flex !important;

    border-radius: 25px !important;
    margin: 0px !important;

    width: 60% !important;
    max-width: 600px !important;
    min-width: 450px !important;

    height: auto !important;

    position: absolute !important;
    top: auto;
    bottom: 15px;
    left: 50%;
    right: auto;
    transform: translateX(-50%) translateY(0);

    overflow: unset !important;
    box-shadow: var(--box-shadow-10);

    background: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px) !important;
    border: 2px solid rgba(255, 255, 255, 0.3) !important;

    transition: transform 0.35s ease, opacity 0.25s ease !important;
    will-change: transform, opacity;

    visibility: visible !important;
    opacity: 1 !important;
    font-size: 14px !important;

    & .findbar-container {
        flex-wrap: wrap;
        overflow-x: auto !important;
        height: auto !important;

        row-gap: 10px;

        &> :first-child {
            width: 100% !important;
        }

        & .findbar-textbox {
            flex-grow: 1;
        }
    }

    &[hidden] {
        opacity: 0 !important;
        transform: translateX(-50%) translateY(150px);
        pointer-events: none !important;
    }

    @starting-style {
        opacity: 0 !important;
        transform: translateX(-50%) translateY(150px);
    }
}