/* ------------------------- GENERAL ZEN UI ------------------------- */
/* main ui tint */
#zen-main-app-wrapper {
  background: var(--nebula-ui-tint) !important;
}

/* website tint */
browser[transparent='true'] {
  background: var(--nebula-website-tint) !important;
}

/* Hide identity label for Bonjourr */
#identity-icon-label[value="Extension (Bonjourr · Minimalist Startpage)"] {
  display: none !important;
}

:root {
  --attention-dot-color: transparent !important; /* remove attention dot */
  --zen-themed-toolbar-bg-transparent: transparent !important; /* fix for transparency */
}

/* Required for blur rendering */
browser {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* --------------------- TABS: NO SHADOW --------------------- */

hbox.browserSidebarContainer,
#zen-tabbox-wrapper {
  @media (-moz-pref("nebula-tabs-no-shadow")) {
    box-shadow: none !important;
  }
}
