#urlbar[open] #urlbar-background {
    border-radius: 30px !important;
    background: light-dark(rgba(255, 255, 255, 0.85), rgba(0, 0, 0, 0.4)) !important;
    outline: none !important;
    scale: 1.01 !important;
}

#urlbar[open] {
    box-shadow: 0 20px 40px var(--nebula-color-shadow);
    border-radius: 30px !important;
    overflow: hidden !important;
    backdrop-filter: var(--nebula-glass) !important;
    animation: fadeIn 0.2s ease-in !important;
}

/* Opacity for URL bar when opening */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (prefers-color-scheme: dark) {
    .urlbarView-favicon[src="chrome://global/skin/icons/search-glass.svg"] {
        filter: invert(1);
    }
}

/* ------------------ Misc Styling ------------------ */

.urlbarView-url {
    color: light-dark(rgba(90, 90, 90, 1), rgba(145, 145, 145, 1)) !important;
}

/* ------------------ Links Animation ------------------ */

@keyframes url-links-appear {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    60% {
        transform: scale(1.0);
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#urlbar-results .urlbarView-row {
    opacity: 0;
    animation: url-links-appear 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* Staggered delay (50ms) for 8 results */
#urlbar-results .urlbarView-row:nth-child(1) {
    animation-delay: 0s;
}

#urlbar-results .urlbarView-row:nth-child(2) {
    animation-delay: 0.05s;
}

#urlbar-results .urlbarView-row:nth-child(3) {
    animation-delay: 0.1s;
}

#urlbar-results .urlbarView-row:nth-child(4) {
    animation-delay: 0.15s;
}

#urlbar-results .urlbarView-row:nth-child(5) {
    animation-delay: 0.2s;
}

#urlbar-results .urlbarView-row:nth-child(6) {
    animation-delay: 0.25s;
}

#urlbar-results .urlbarView-row:nth-child(7) {
    animation-delay: 0.3s;
}

#urlbar-results .urlbarView-row:nth-child(8) {
    animation-delay: 0.35s;
}

/* ------------------ Dynamic Background Height ------------------ */

:root {
    --nebula-url-rows: 0;
    /* Default dynamic variable */
}

/* Dynamic Row Counting (only when not animating background) */
:root:not([animating-background="true"]) {
    #zen-main-app-wrapper:has(#urlbar-results > .urlbarView-row:first-child:nth-last-child(1)) {
        --nebula-url-rows: 1 !important;
    }

    #zen-main-app-wrapper:has(#urlbar-results > .urlbarView-row:first-child:nth-last-child(2)) {
        --nebula-url-rows: 2 !important;
    }

    #zen-main-app-wrapper:has(#urlbar-results > .urlbarView-row:first-child:nth-last-child(3)) {
        --nebula-url-rows: 3 !important;
    }

    #zen-main-app-wrapper:has(#urlbar-results > .urlbarView-row:first-child:nth-last-child(4)) {
        --nebula-url-rows: 4 !important;
    }

    #zen-main-app-wrapper:has(#urlbar-results > .urlbarView-row:first-child:nth-last-child(5)) {
        --nebula-url-rows: 5 !important;
    }

    #zen-main-app-wrapper:has(#urlbar-results > .urlbarView-row:first-child:nth-last-child(6)) {
        --nebula-url-rows: 6 !important;
    }

    #zen-main-app-wrapper:has(#urlbar-results > .urlbarView-row:first-child:nth-last-child(7)) {
        --nebula-url-rows: 7 !important;
    }

    #zen-main-app-wrapper:has(#urlbar-results > .urlbarView-row:first-child:nth-last-child(8)) {
        --nebula-url-rows: 8 !important;
    }
}

/* Open URL Bar State */
#urlbar[open] .urlbarView {
    min-height: 280px !important;
    max-height: 500px !important;
}

/* URL Bar with Results (User Typing) */
#zen-main-app-wrapper:has(#urlbar[open=""][focused=""][usertyping=""]) #urlbar .urlbarView {
    --Auxiliar-Row-Height: calc(45px + 10px);
    --min-height-view: calc(var(--Auxiliar-Row-Height) * var(--nebula-url-rows) + 8px);
    --max-height-view: calc(var(--Auxiliar-Row-Height) * 8 + 8px);
    min-height: var(--min-height-view) !important;
    max-height: var(--max-height-view) !important;
}

/* ------------------ URLBar Website Animation ------------------ */

/* Style 1 - Default */
.browserStack {
    transition: all 0.3s cubic-bezier(0.175, 0.385, 0.12, 1) !important;
}

#browser:has(#urlbar[open]) .browserStack {
    scale: 1.075 !important;
    filter: brightness(70%) blur(16px) saturate(140%) !important;
    opacity: 1 !important;
}



/* ------------------ Link Hovering Gradient ------------------ */

#urlbar[open] #urlbar-results>* {
    position: relative;
    overflow: hidden;
}

#urlbar[open] #urlbar-results>*::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            color-mix(in srgb, var(--zen-primary-color) 5%, black),
            color-mix(in srgb, var(--zen-primary-color) 30%, black),
            color-mix(in srgb, var(--zen-primary-color) 75%, black),
            color-mix(in srgb, var(--zen-primary-color) 100%, black),
            color-mix(in srgb, var(--zen-primary-color) 50%, black),
            color-mix(in srgb, var(--zen-primary-color) 15%, black));
    background-size: 300% 100%;
    background-repeat: repeat-x;
    animation: urlbar-gradient 8s linear infinite;
    opacity: 0;
    filter: blur(20px) brightness(1) contrast(120%);
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
    pointer-events: none;
}


@keyframes urlbar-gradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: -300% 50%;
    }
}